@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 1400px;
    }
}

body {
    font-family: 'Merriweather', serif;
}


/* header */

html {
    scroll-behavior: smooth;
}

a {
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}


/* a:hover {
    text-decoration: none;
    color: inherit;
} */

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 5px 0;
}


/*Section Header*/

.bg--section {
    background-color: #ffffff !important;
}

.bg--base {
    background-color: #012469 !important;
    height: 50px;
}

.change-language {
    display: flex;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.change-language span {
    color: #4FC4F7;
    margin-right: 2px;
}

.change-language a {
    color: #0b254a;
}

.change-language a:not(:last-child)::after {
    content: "/";
    display: inline-block;
    margin: 0 5px;
    color: #0b254a;
}

.change-language2 a:not(:last-child)::after {
    content: "/";
    display: inline-block;
    margin: 0 5px;
    color: #ffffff;
}

@media (max-width: 767px) {
    .change-language a {
        color: #fff;
    }
    .change-language a:not(:last-child)::after {
        color: #4FC4F7;
    }
}

.change-language .language {
    height: 32px;
    padding-left: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-left: 15px;
    outline: none;
    background: #ebe9e900;
    color: #f5f6f9;
}

.change-language .language option {
    color: #0b254a;
    background: #ffffff;
}

.change-language .language:focus {
    box-shadow: none;
}

.header-bar {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
}

.header-bar span {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 100%;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background: #0b254a;
    left: 0;
}

.header-bar span:first-child {
    top: 0;
}

.header-bar span:nth-child(2) {
    top: 52%;
    transform: translateY(-65%);
}

.header-bar span:last-child {
    bottom: 0;
}

.header-bar.active span:first-child {
    -webkit-transform: rotate(45deg) translate(3px, 9px);
    -ms-transform: rotate(45deg) translate(3px, 9px);
    transform: rotate(45deg) translate(3px, 9px);
}

.header-bar.active span:nth-child(2) {
    opacity: 0;
}

.header-bar.active span:last-child {
    -webkit-transform: rotate(-45deg) translate(3px, -9px);
    -ms-transform: rotate(-45deg) translate(3px, -9px);
    transform: rotate(-45deg) translate(3px, -9px);
}

@media (max-width: 575px) {
    .header-bar {
        width: 15px;
        height: 16px;
    }
    .header-bar span {
        height: 2px;
        width: 20px;
    }
    .header-bar.active span:first-child {
        -webkit-transform: rotate(45deg) translate(4px, 6px);
        -ms-transform: rotate(45deg) translate(4px, 6px);
        transform: rotate(45deg) translate(4px, 6px);
    }
    .header-bar.active span:nth-child(2) {
        opacity: 0;
    }
    .header-bar.active span:last-child {
        -webkit-transform: rotate(-45deg) translate(4px, -6px);
        -ms-transform: rotate(-45deg) translate(4px, -6px);
        transform: rotate(-45deg) translate(4px, -6px);
    }
}

.header-bottom {
    position: sticky;
    top: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    z-index: 999;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #ffffff !important;
    box-shadow: 0 0 5px 10px rgba(11, 37, 74, 0.1);
    border-bottom: 1px solid #e3e4ff;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
}

.header-wrapper .logo {
    width: 200px;
}

.header-wrapper .logo a {
    display: block;
    height: 60px;
}

.header-wrapper .logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left center;
}

@media (max-width: 767px) {
    .header-wrapper .logo {
        width: 150px;
    }
    .header-wrapper .logo a {
        height: 60px;
    }
}

@media screen and (max-width: 450px) {
    .header-wrapper .logo {
        width: 140px;
    }
    .header-wrapper .logo a {
        height: 60px;
    }
}

.menu-area .menu li a {
    color: #fff;
    text-transform: capitalize;
    font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 991px) {
    .menu-area .menu li {
        padding: 0;
    }
    .menu-area .menu li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 8px 15px 5px;
        color: #fff;
        display: block;
        border-radius: 3px;
    }
    .menu-area .menu li.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
    }
    .menu-area .menu li .submenu {
        display: none;
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-area .menu li .submenu li {
        background: #012469;
    }
    .menu-area .menu li .submenu li:last-child {
        border: none;
    }
    .menu-area .menu li .submenu li a {
        text-transform: capitalize;
        padding: 8px 15px 5px;
    }
    .menu-area .menu li .submenu li a .subtitle {
        color: #fff;
    }
    .menu-area .menu li .submenu li a .info {
        color: #d2e2ff !important;
    }
    .menu-area .menu li .submenu li:first-child {
        border-radius: 5px 5px 0 0;
    }
    .menu-area .menu li .submenu li:last-child {
        border-radius: 0 0 5px 5px;
    }
    .menu-area .menu li:hover,
    .menu-area .menu li.open {
        border-color: #4FC4F7;
    }
    .menu-area .menu li:hover>a,
    .menu-area .menu li.open>a {
        background: #012469;
        color: #fff;
    }
    .menu-area .menu li:hover>a::after,
    .menu-area .menu li.open>a::after {
        color: #fff;
    }
    .menu-area .menu>li:first-child>a {
        border-top: 1px solid rgba(79, 196, 247, 0.2);
    }
    .menu-area .menu .login-reg-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .menu-area .menu .login-reg-btn>a {
        border-radius: 5px;
        margin: 0 5px;
        background: #012469;
    }
    .menu-area .menu .login-reg-btn>a:nth-of-type(even) {
        background: #fff;
        color: #0b254a;
    }
    .menu-area .menu .login-reg-btn .logout--btn {
        border-radius: 5px;
        margin: 10px 10px 0;
        background: #012469;
        width: unset;
        display: inline-block;
    }
    .menu-area .menu .login-reg-btn .logout--btn:nth-of-type(even) {
        background: #fff;
        color: #0b254a;
    }
    .bg--base {
        background-color: none;
        height: 0;
    }
}

.menu-area .menu .submenu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

.menu-area .menu .submenu li a .icon {
    font-size: 24px;
    color: #4FC4F7;
    width: 30px;
}

.menu-area .menu .submenu li a .cont {
    padding-left: 10px;
    width: calc(100% - 30px);
}

.menu-area .menu .submenu li a .cont .subtitle {
    margin: 0;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-area .menu .submenu li a .cont .info {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555555;
}

@media (min-width: 992px) {
    .menu-area .menu {
        display: flex;
        align-items: center;
    }
    .menu-area .menu li {
        padding: 5px;
        position: relative;
    }
    .menu-area .menu li .badge {
        font-size: 10px;
        padding: 2px 5px;
        margin-right: -7px;
    }
    .menu-area .menu li a {
        font-size: 14px;
        padding: 5px;
        font-weight: 500;
        color: #fff;
    }
}

@media (max-width: 992px) {
    .footer-content {
        display: block!important;
        padding: 0 .5rem!important;
    }
    .brand-section {
        margin-top: -2rem!important;
        flex-basis: 100%!important;
        border-right: 0!important;
        padding: 10px 3px!important;
        border-bottom: 4px solid rgba(0, 0, 0, 0.18)!important;
    }
    .contact-section {
        flex-basis: 0!important;
        padding: 10px 5px!important;
    }
    .img-icon {
        width: 30px!important;
        margin-left: -1.5rem;
    }
}

@media (min-width: 992px) and (min-width: 1200px) {
    .menu-area .menu li a {
        padding: 10px;
    }
}

@media (min-width: 992px) and (min-width: 1400px) {
    .menu-area .menu li a {
        padding: 5px 10px;
    }
}

@media (min-width: 992px) {
    .menu-area .menu li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 300px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        padding: 15px;
        border: 1px solid #e3e4ff;
        background: #012469;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .menu-area .menu li .submenu li {
        width: 100%;
        padding: 0;
        border-radius: 3px;
    }
    .menu-area .menu li .submenu li a {
        padding: 10px;
        color: #0b254a;
        text-transform: capitalize;
    }
    .menu-area .menu li .submenu li:last-child {
        border: none;
    }
    .menu-area .menu li .submenu li .submenu {
        top: -1px;
        left: 100%;
    }
}

@media (min-width: 992px) {
    .menu-area .menu li:hover>.submenu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }
}

.menu-area .menu-close {
    display: none;
}

@media (max-width: 991px) {
    .menu-area {
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        transition: all ease 0.3s;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transform-origin: right;
        z-index: 99999;
        width: 100%;
        max-width: 400px;
        height: 100vh;
        overflow-y: scroll;
        background: #012469;
        padding: 70px 20px 20px;
    }
    .menu-area::-webkit-scrollbar {
        display: none;
    }
    .menu-area .menu-close {
        color: #ea5455!important;
        font-size: 30px!important;
        position: absolute;
        left: 30px;
        top: 25px;
        display: block;
        z-index: 1;
        cursor: pointer;
    }
    .menu-area .badge {
        margin-left: 5px;
    }
    .menu-area.active {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .menu-area .mega-menu-icon {
        padding: 5px !important;
        background: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .menu-area .cart-wrapper {
        position: absolute;
        right: 30px;
        top: 25px;
    }
}

@media (min-width: 992px) {
    .menu-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cart-wrapper {
    gap: 12px;
}

.cart--btn {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    color: #000;
    position: relative;
}

.cart--btn .qty {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #012469;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

.cart--btn:hover {
    color: #012469;
}

.search--group {
    position: relative;
}

.search--group .form-control {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    height: 50px;
    padding: 0 20px;
    box-shadow: none;
    border-color: #012469;
}

.search--group .cmn--btn {
    padding: 5px 12px 5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #012469;
    color: #fff;
}

.category-link-area {
    position: relative;
    z-index: 99;
}

.category-link-area .cmn--btn {
    /* background: #0101b3; */
    padding: 0 15px;
    height: 40px;
    color: #000;
    border-radius: 3px;
}

@media (min-width: 992px) {
    .category-link-area .category-link {
        position: absolute;
        width: 200px;
        opacity: 0;
        visibility: hidden;
    }
    .category-link-area .menuButton {
        display: none;
    }
    .category-link-area:hover .category-link {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 991px) {
    .category-link-area {
        text-align: center;
        font-size: 14px;
    }
    .category-link-area .categoryButton,
    .category-link-area .menuButton {
        margin: 0 auto 20px;
        text-align: center;
    }
    .category-link-area .categoryButton:not(.active),
    .category-link-area .menuButton:not(.active) {
        color: #012469;
    }
    .category-link-area .category-link {
        display: none;
    }
    .category-link-area .category-link li {
        padding: 0;
    }
    .category-link-area .category-link li a {
        border-bottom: 1px solid #012469;
        padding: 8px 15px 5px;
        color: #fff;
        display: block;
        border-radius: 3px;
    }
    .category-link-area .category-link li.cate-icon>a {
        display: flex;
        justify-content: space-between;
    }
    .category-link-area .category-link li.cate-icon>a::after {
        content: "\f107";
    }
    .category-link-area .category-link li.cate-icon>a,
    .menu-area .menu li:hover>a:hover {
        background: #012469!important;
    }
    .category-link-area .category-link li .category-sublink {
        display: none;
        margin-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .category-link-area .category-link li .category-sublink li {
        background: rgba(255, 255, 255, 0.051);
    }
    .category-link-area .category-link li .category-sublink li:last-child {
        border: none;
    }
    .category-link-area .category-link li .category-sublink li a {
        text-transform: capitalize;
        padding: 8px 15px 5px;
    }
    .category-link-area .category-link li .category-sublink li a .subtitle {
        color: #fff;
    }
    .category-link-area .category-link li .category-sublink li a .info {
        color: #d2e2ff !important;
    }
    .category-link-area .category-link li .category-sublink li:first-child {
        border-radius: 5px 5px 0 0;
    }
    .category-link-area .category-link li .category-sublink li:last-child {
        border-radius: 0 0 5px 5px;
    }
    .category-link-area .category-link li:hover,
    .category-link-area .category-link li.open {
        border-color: #012469;
    }
    .category-link-area .category-link li:hover>a,
    .category-link-area .category-link li.open>a {
        background: #012469;
        color: #fff;
    }
    .category-link-area .category-link li:hover.cate-icon>a,
    .category-link-area .category-link i.open.cate-icon>a {
        background: #012469;
        color: #fff;
    }
    .category-link-area .category-link li:hover.cate-icon>a::after,
    .category-link-area .category-link li.open.cate-icon>a::after {
        color: #fff;
        content: "\f106";
    }
    .category-link-area .category-link>li:first-child>a {
        border-top: 1px solid rgba(79, 196, 247, 0.2);
    }
}

@media (min-width: 992px) {
    .category-link {
        padding: 8px 0;
        position: relative;
        border: 1px solid #e3e4ff;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        background: #fff;
    }
    .category-link li {
        padding: 0;
    }
    .category-link li a {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        padding: 2px 12px;
        color: #0b254a;
        display: flex;
        justify-content: space-between;
    }
    .category-link li>a {
        padding: 5px 20px;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .category-link li>a {
        padding: 2px 20px;
    }
}

@media (min-width: 992px) {
    .category-link li .category-sublink {
        position: absolute;
        top: 0;
        height: 100%;
        padding: 8px 0;
        background: #ffffff;
        width: 200px;
        border-left: 1px solid #e3e4ff;
        visibility: hidden;
        opacity: 0;
        left: 100%;
    }
}

@media (min-width: 992px) {
    .category-link li:hover>.category-sublink {
        visibility: visible;
        opacity: 1;
    }
    .category-link li:hover>a {
        background: rgba(11, 37, 74, 0.07);
        padding-left: 23px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
    .category-link {
        padding: 8px 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
    .category-link {
        padding: 8px 0;
    }
    .category-link-wrapper {
        width: 220px;
    }
}

.cate-icon>a::after {
    content: "\f105";
    font-family: "Line Awesome Free";
    font-weight: 600;
}

.form--control:disabled,
.form--control[readonly] {
    background: rgba(11, 37, 74, 0.07);
    border-color: rgba(11, 37, 74, 0.1) !important;
}

.form--group {
    margin-bottom: 20px;
}

@media (max-width: 575px) {
    .form--group {
        margin-bottom: 15px;
    }
}

.scrollToTop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    font-size: 18px;
    position: fixed;
    border-radius: 5px;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    display: block;
    text-align: center;
    background: #4FC4F7;
}

.scrollToTop:hover {
    color: #fff;
}

.scrollToTop.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    animation: bounceInDown 2s;
    -webkit-animation: bounceInDown 2s;
    -moz-animation: bounceInDown 2s;
}

.scrollToTop img {
    width: 100%;
}

.cmn--btn {
    color: #fff !important;
    line-height: 24px;
    padding: 13px 35px 11px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #012469;
    border: 2px solid transparent;
    font-size: 16px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    font-family: "Josefin Sans", sans-serif;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.cmn--btn:not(button):hover {
    color: #4FC4F7;
    border-color: #4FC4F7;
    text-decoration: underline;
    background: #fff;
}

.cmn--btn.btn--sm {
    padding: 8px 20px 6px;
    font-size: 14px;
}

.cmn--btn.btn--md {
    padding: 10px 20px 8px;
    font-size: 15px;
}

.cmn--btn.btn-capsule {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

button.cmn--btn {
    border-radius: 5px;
}

a {
    text-decoration: none;
}


/* New Added Css */

.search-form {
    max-width: 500px;
    width: 100%;
}


/* profile*/

.big__wrapper {
    background: #F4F4F8;
    ;
}

.action .profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu-dropdown {
    position: absolute;
    top: 4rem;
    right: .5rem;
    padding: 10px 20px;
    width: 200px;
    background: #042f88;
    box-sizing: border-box;
    border-radius: 15px;
    transition: 0.5s;
    display: none;
    z-index: 1;
}

.action .menu-dropdown.active {
    display: block;
    z-index: 9999;
}

.action .menu-dropdown::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #042f88;
    transform: rotate(45deg);
}

.action .menu-dropdown ul li {
    list-style-type: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .menu-dropdown ul li i {
    max-width: 20px;
    color: #fff;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu-dropdown ul li a {
    color: #fff;
}

.action .menu-dropdown ul li:hover i {
    opacity: 1;
}


/* end ofprofile*/


/* Navber */

.text-header .text-header__content h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    color: #353897;
}

.text-header .text-header__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: rgba(39, 41, 112, 0.7);
}


/*Dashborad*/

.dashboard__sidebar {
    width: 100%;
    background: #042F88;
    max-height: 100%;
    border-radius: 30px 0;
}

.dashboard__sidebar .dashboard__logo {
    position: relative;
}

.dashboard__sidebar .dashboard__logo .close-dashboard-sidebar {
    color: #ea5455;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 12px;
}

.dashboard__sidebar .side__menu__area {
    overflow: hidden;
}

.dashboard__sidebar .sidebar-container {
    overflow-y: auto;
    max-height: 100%;
}

div[class*=col]:nth-of-type(4n + 1)>.dashboard-card {
    background: #2ECC71!important;
    border-radius: 20px;
}

div[class*=col]:nth-of-type(4n + 2)>.dashboard-card {
    background: #5352ED!important;
    border-radius: 20px;
}

div[class*=col]:nth-of-type(4n + 3)>.dashboard-card {
    background: #1E9FF2;
    border-radius: 20px;
}

div[class*=col]:nth-of-type(4n + 4)>.dashboard-card {
    background: #FF9F43!important;
    border-radius: 20px;
}

div[class*=col]:nth-of-type(4n + 5)>.dashboard-card {
    background: #EA5455!important;
    border-radius: 20px;
}

div[class*=col]:nth-of-type(4n + 6)>.dashboard-card {
    background: #5C42AF!important;
    border-radius: 20px;
}

.dashboard-card {
    background: #4fc4f7;
    padding: 20px 25px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.dashboard__responsive__header .thumb__wrapper .thumb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.dashboard__responsive__header .thumb__wrapper .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*
.dashboard-card::before,
.dashboard-card::after {
    position: absolute;
    content: "";
    width: 70px;
    aspect-ratio: 1;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    right: 0;
    transform: translateX(45%);
}

.dashboard-card::before {
    top: 30px;
    transform: translateX(45%);
}

.dashboard-card::after {
    top: 80px;
    width: 90px;
    transform: translateX(25%);
}*/

.dashboard-card__icon {
    color: #000;
    font-size: 24px;
}

.dashboard-card__content p {
    color: #fff;
}

.dashboard-card span {
    position: absolute;
    top: 40px;
    right: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
}

.dashboard-card__content .title {
    color: #fff;
}

.side__menu-title {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #4FC4F7;
}

.side__menu li {
    text-decoration: none;
    list-style-type: none;
}

.side__menu li a {
    display: block;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard__responsive__header {
    padding: 10px 20px;
    background: rgba(79, 196, 247, 0.2);
    margin-bottom: 50px;
    border-radius: 7px;
    font-size: 15px;
}

.dashboard-sidebar-toggler {
    font-size: 32px;
    color: #4FC4F7;
    line-height: 1;
    cursor: pointer;
}

@media (max-width: 991px) {
    .dashboard__article {
        width: 100%;
    }
    .dashboard__sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99900;
        max-width: 400px;
        min-height: 100vh;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: ease-in 0.4s;
        border-radius: 0;
    }
    .dashboard__sidebar.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .cmn--btn {
        background: #1414e0!important;
    }
}

.list-group .list-group__items {
    position: relative;
}

.list-group__items:not(:last-child) {
    margin-bottom: .5rem;
}

.list-group .list-group__items::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: #F4F4F8;
    opacity: 0.1;
    transform: scaleY(0);
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s;
}

.list-group .list-group__items:hover::before {
    transform: scaleX(1);
    width: 100%;
}

.list-group .list-group__items .list-group__link:link,
.list-group .list-group__items .list-group__link:visited {
    color: #F4F4F8!important;
    display: block;
    position: relative;
    z-index: 10;
}

.list-group .list-group__items i {
    margin-right: 1rem;
    font-size: 20px;
}

.list-group .list-group__items span {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}


/* end of card */

.recent-transaction .heading h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #353897;
}

.heading-content__img {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 30px;
    overflow: hidden;
}

.heading-content__img .heading-img {
    border-radius: 30px 0;
    overflow: hidden;
}

.heading-content__img .heading-description__text h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

.heading-content__img .heading-description__text h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

.heading-content__img .heading-description__text span {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

.heading-content__img .heading-description__text p {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}

.table>:not(caption)>*>* {
    border-bottom-width: 1px!important;
    overflow: hidden!important;
}

table {
    border: #000;
    background: #fff;
    border-radius: 30px;
    padding: 10rem!important;
}

.table thead tr th {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */
    color: #304157;
    overflow-x: scroll;
}

.table tbody tr .winter {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: #082F2E;
}

.table tbody tr .date {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: #61748D;
}

.table tbody tr .payment {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    letter-spacing: -0.015em;
    color: #042F88;
}

.table tbody tr .qty {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: #082F2E;
}

.table tbody tr td .btn {
    background: #F1FEF9;
    border: 1px solid #D4F2E6;
    border-radius: 30px;
}

.table-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #91A3BA;
}

.table-footer .pagination .page-item .page-link {
    margin-right: 8px;
}

.table-footer .pagination .page-link.active {
    background: #042F88!important;
    border: none;
    color: #fff;
    border-radius: 8px;
}

.table-footer .pagination .page-link {
    border: none;
    border-radius: 8px;
}

.button-sign__out .btn {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.12);
    border-radius: 30px;
    padding: 25px 26px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    color: #FF4E4E;
}

.button-options {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E1E8F1;
    border-radius: 30px;
    height: 65px;
}

.button-options button {
    border-radius: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #353897;
    opacity: 0.4;
}

.button-options button.active {
    width: 93px;
    background: #042F88!important;
    opacity: 1;
    color: #fff;
    border: 1px solid #E1E8F1;
}


/* Order */

.table tbody tr td p {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #082F2E;
}

.table tbody tr td span {
    font-weight: 400;
    font-size: 12px;
    line-height: 1px;
    color: #082F2E;
}

.form-col {
    width: 50%;
}

@media (max-width: 720px) {
    .form-col {
        width: 100%;
    }
    .text-header .text-header__content h2 {
        font-size: 26px;
    }
    .text-header .text-header__content P {
        font-size: 12px;
    }
    .profile-img .btn,
    .button .btn {
        width: 122.02px!important;
        height: 34px!important;
        font-size: 12px!important;
    }
    .setting_container {
        border-radius: 28.2651px;
        padding: 2rem 1rem!important;
    }
    .gender_checker {
        margin-top: 2rem!important;
    }
    .form-col .txt-input {
        margin-top: 5px!important;
        font-size: 12px!important;
    }
    .form-label {
        font-weight: 700;
        font-size: 12px;
    }
    .row {
        --bs-gutter-y: 1.5rem;
    }
    .button-options {
        height: 45px;
        justify-content: initial;
        overflow: hidden;
        padding: 0;
    }
    .button-options button {
        font-size: 10px;
        opacity: 0.4;
        padding: 4px;
    }
    .button-options button.active {
        width: 50px;
        background: #042F88!important;
        opacity: 1;
        color: #fff;
        border: 1px solid #E1E8F1;
    }
    .footer-column h4 {
        font-size: 24px!important;
    }
}

.form-label {
    font-weight: 700;
    font-size: 15px;
}

.form-col .txt-input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 3px 20px;
    font-weight: 900;
    color: #000;
    background-color: #ece9e9;
    border: none;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
}

.button .btn {
    width: 222.02px;
    height: 54px;
    left: 552px;
    top: 958px;
    background: #353897;
    border-radius: 11.306px;
    color: #fff;
}

.setting_container {
    border-radius: 28.2651px;
    padding: 2rem 4rem 2rem 4rem;
}

.profile-img .w-25 {
    width: 10rem!important;
    border-radius: 4rem!important;
}

.profile-img p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */
    color: #353897;
}

.profile-img .btn {
    width: 222px;
    height: 54px;
    background: #353897;
    border-radius: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.gender_checker {
    margin-top: 5rem;
}

.gender_checker p {
    font-weight: 500;
    font-size: 15.0747px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #0F172A;
    opacity: 0.4;
}

.gender_checker .form-check-label {
    font-weight: 400;
    font-size: 15.0747px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: #272970;
    opacity: 0.5;
}


/* end of Order */


/* footer */

.unorder-list li:not(:last-child) {
    margin-bottom: 10px;
}

.contact-icons .icon-link:not(:last-child) {
    padding-right: 30px;
}

.contact-icons {
    margin-left: -15px!important;
}

.icon-link .fa-brands {
    color: #1414e0;
    font-size: 40px;
}

.img-icon {
    width: 50px;
}

.unorder-list li a {
    display: block;
    padding: 5px 0;
    width: fit-content;
}

.footer-content {
    display: flex;
}

.brand-section {
    flex-basis: 40%;
    padding: 10px 100px;
    border-right: 4px solid rgba(0, 0, 0, 0.18);
}

.contact-section {
    flex-basis: 60%;
    padding: 10px 100px;
}

#footer {
    background: #eceaea!important;
    padding: 50px 0px;
}

.footer-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row: 20px;
    grid-column: 20px;
}

.footer-heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: #121415;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    color: #121415;
    opacity: 0.5;
}

.contact-icons i {
    height: 40px;
    width: 40px;
    border-radius: 0.5rem;
    color: #121415;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    margin-right: 10px;
    padding: 2px 0;
}

.unorder-list {
    list-style-type: none;
    text-align: start;
}

.unorder-list li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #121415;
    opacity: 0.5;
}

.footer-title .title {
    font-size: 20px;
    font-weight: 700;
}


/* end of footer */